@import '../../styles/variables';

:root {
    --menu-button-bg-color: #f0f6ff;
    --menu-button-text-color: #1a1b1e;
    --menu-button-border-color: transparent;
}
[data-theme="dark"] {
    --menu-button-bg-color: var(--black);
    --menu-button-text-color: var(--white);
    --menu-button-border-color: var(--white);
}

.js-button.js-menu-icon {
    @media screen and (min-width: $breakpoint-desktop + 1) {
        display: none;
    }
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-button-bg-color);
    gap: 4px;
    border-radius: 50px;
    border: 1px solid var(--menu-button-border-color);
    margin-left: 20px;

    div {
        width: 20px;
        height: 4px;
        background-color: var(--menu-button-text-color);
        border-radius: 3px;
    }
}